/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


body {
  background-color: white;
  color: #0f0f0f;
  margin: 0;
}

a, .ulink {
	cursor: pointer;
	color: rgba(3, 3, 255, 0.8);
	text-decoration: underline dotted blue;
	font-size: 0.9em;
}

h4 {
	margin-bottom: 0;
}

/* ---- Sidebar Styling  ------ */

#sidebar-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sidebar-buttons input[type="button"]{
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding-top:5px;
  padding-bottom: 5px;
  width: 70px;
}

#sidebar-buttons input[type="button"]:hover{
  background-color: #e5e5e5;
  cursor: pointer;
}

.search-bar {
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 0.9em;
}

.search-bar:focus {
  border-color: #ddd;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


/*  ----------- Contact Styling ---------------- */
.contact-detail {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
  margin: auto;
  padding-left: 5px;
}

.contact-group {
  background-color: rgba(221, 224, 210, 0.4);
  color: gray;
  border-bottom: 1px solid gray;
  font-family: arial;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 2px;
  text-align: center;
}

.contact-name{
  display: flex;
  padding: 8px;
  margin: auto;
}

.contact-name.true{
  background-color: rgba(196, 221, 196, 0.8);
}

.contact-name:hover{
  background-color: white !important;
  cursor: pointer;
}


/* ---- Buttons Styling  ----------- */

.buttons{
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 1px;
  width: 80px;
}


.buttons:hover {
  background-color: #bfbdbd;   /*#e5e5e5;  */
  cursor:pointer;
}

/* Personal Picture: disable button with image loading */
.buttons.nobutton{
  display: none;
}

.buttons.add{
   background-color: RGBA(191, 246, 183, 0.88);
   width: 2em;
   margin: 2px;
   padding: 0;
   border-radius: 4px;
}

.buttons.remove{
   background-color: RGBA(252, 176, 176, 0.8);
   width: 2em;
   margin: 2px;
   padding: 0;
   border-radius: 4px;
}

.buttons.label{
	color: RGBA(23, 35, 21, 0.69);
	background-color: RGBA(175, 198, 172, 0.35);
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 1px;
	margin-left: 5px;
	margin-right: 5px;
	height:1.8em;
}


/* Hamburger Menu ------------------- */
.hamburger{
  width: auto;
  background-color: #e9e3e3;
  font-size: large;
  height: 26px;
  margin: 5px 5px 0px 10px;

  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 1px;
}

.hamburger:hover {
  background-color: #bfbdbd;   /*#e5e5e5;  */
  cursor:pointer;
}

.hambgMenu {
   width: 50vw;
   height: 100vh;
   background-color: rgba(248, 248, 248,.95);
   position: fixed;
   top: 0;
   left: 0;

   transform: translate3d(-50vw, 0, 0);
   transition: transform .8s cubic-bezier(.9, .16, .27, .96);  /*(0, .52, 0, 1)*/   /* (.9, .16, .27, .96) */
   /* transition: transform .8s ease-in-out;  */

   z-index: 1000;
}

.hambgMenu.show {
   transform: translate3d(0vw, 0, 0);
}

.hambgLink {
   width:auto;
   margin-top:5px;
   margin-left:20px;
   cursor:pointer;
   font-size: 0.8em;
}

.hambgLink:hover{
   text-decoration: underline;
   color:blue;
}

/* Hamburger Menu ------------------- */



/* ------- Image Styling ----------- */
.glyphicons {
   /*position: relative; */
   width: 14px;
}


.profile-img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin: 8px;
}

.profile-img.editing:hover{
  cursor: pointer;
}

.profile-img-sidebar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


/* ---- modal styling ------------- */
.modal{
  max-height: calc(100% - 100px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:2px solid #443b3b;
  background-color: RGBA(255, 191, 191,1);
  text-align:center;
  color: RGBA(165, 44, 44,1);
  padding:20px;
}

::-moz-placeholder { /* Firefox 19+ */
   /*color: red;*/
   font-size: 12px; 
}

